<div class="dashboard-area px-3">
    <div class="relative md:flex justify-between md:grid grid-cols-12 lg:gap-0 h-[calc(100vh_-_8.5rem)] lg:h-[calc(100vh_-_6.5rem)] md:h-[calc(100vh_-_7rem)]">
      <%= yield :dashboard_wrap %>
    </div>
</div>