<% content_for :dashboard_wrap do %>
               <%= render 'side_bar' %>
               <div class="xl:col-span-10 col-span-12  md:mt-5 h-full md:col-span-9 md:h-[calc(100vh_-_6.5rem)] overflow-auto bg-white">
                    <div class="grid grid-cols-12 bg-white gap-4 h-full  relative px-4 pt-4">
                        <div class="col-span-8">
                            <div class="pb-8 border-b-2 border-b-gray-100">
                               <div>
                                  <h5 class="text-black mb leading-none text-3xl font-bold">1.Summary</h5>
                               </div>
                            </div>
                        </div>
                        <div class="lg:col-span-2 col-span-6">
                          <div class="pb-4 border-b-2 border-b-gray-100">
                        <a href="#" class="border-2 border-rose-600 text-rose-600 w-full px-4 py-2 bg-white-to-b from-themelight to-theme rounded-md flex items-center justify-center hover:bg-rose-600 hover:text-white"><span class="mr-3"> <i class="fas fa-eye"></i> </span>  Preview</a>  
                      </div>
                      </div>
                      <div class="lg:col-span-2  col-span-6">
                          <div class="pb-4 border-b-2 border-b-gray-100">
                          <a href="#" class="border-2 border-rose-600 text-rose-600 w-full px-4 py-2 bg-white-to-b from-themelight to-theme rounded-md flex items-center justify-center hover:bg-rose-600 hover:text-white"><span class="mr-3"><i class="fas fa-arrow-down"></i></span>  Download</a>  
                      </div> 
                      </div>
                            <div class="col-span-12">
                                <h2 class="text-black  leading-none text-3xl font-bold">1.5 Asset distribution</h2>
                                <p class="text-gray-400 lg:mt-2 lg:ml-1  leading-none text-1xl font-400">IP Resource Distribution</p>
                            </div>
                            <div class="col-span-12">
                              <div class="flex flex-wrap w-full">
                                 <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">1</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">2</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">3</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">4</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">5</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">6</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">7</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">8</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">9</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">10</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">11</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">12</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">13</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">14</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">15</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">16</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">17</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">18</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">1</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">2</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">3</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">4</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">5</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">6</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">7</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">8</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">9</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">10</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">11</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">12</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">13</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">14</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">15</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">16</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">17</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">18</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">1</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">2</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">3</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">4</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">5</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">6</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">7</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">8</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">9</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">10</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">11</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">12</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">13</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">14</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">15</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">16</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">17</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">18</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">1</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">2</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">3</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">4</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">5</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">6</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">7</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">8</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">9</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">10</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">11</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">12</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">13</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">14</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">15</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">16</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">17</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">18</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">1</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">2</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">3</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">4</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">5</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">6</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">7</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">8</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">9</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">10</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">11</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">12</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">13</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">14</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">15</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">16</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">17</div> 
                                  <div class="border-1 border-gray-100 h-14 w-14 flex items-center justify-center whitespace-nowrap text-sm bg-gray-200 text-center font-400 text-gray-900 hover:bg-rose-600 hover:text-white">18</div> 
                                  
                                </div>
                            </div>
                    </div>
                    <a href="#" class=" px-4 py-2 absolute bottom-0/3 lg:bottom-0 z-30 left-1/2   border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-theme focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Scan </a>
               </div>
           
           <% end%>
           <%= render 'dashboard_wrap' %>